<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Track it</title>

 
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
  
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div class="box">
  <body>
    <header>

        <h1>Track it! </h1>
        <h2 class="font-weight-light">Manage your household items the fun way</h2>

    <section class="menu">   
        <div class="btn-group">
          <div><a class="btn btn-primary" href="/">Home</a></div>

          <div>
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Category
            </button>
            <div class="dropdown-menu">
              <% @tags.each do |tag|%>
                  <a class="dropdown-item" href="/items/<%=tag["tag"]%>"><%=tag["tag"]%></a>
              <% end %>
            </div>
          </div>

          <% if logged_in?%>
              <div><a class="btn btn-dark" href="/list/<%=current_user.id%>">Build your list</a></div>
              <div><a class="btn btn-success" href="/items/new">Add an item</a></div>
              <form action="/session" method="post">
                <input type="hidden" name = "_method" value="delete">
                <button class="btn btn-warning">logout</button>
              </form>
              <h3>Welcome <%= current_user.email %></h3>
          <% else %> 
              <div><a class="btn btn-warning" href="/login">login</a></div>
              <div><a class="btn btn-success" href="/users/new">Register</a></div>
          <% end %>
        </div>
        <p>Made by Siyu Guo using &copy;animal crossing images. Research purpose only</p>
    </section>
    </header>
    <main>
      
      <%= yield%>

    </main>
  </body>
</div>
</html>
